body {
  background-color: #282c34;
}
.App {
  text-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

img {
  width: 100%;
  height: 200px;
  display: block;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
